/* Compensate for fixed navbar at top of page */
body {
    padding-top: 70px;
}

/* Hide website and comment forms */
.hidden_div {
    display: none;
}

/* Attempt to make default 'Sign in' link less ugly */

.login-link-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 15px 15px;
    line-height: 20px;
    float: left;
    background-color: transparent;
}

.accounts-dialog a {
    text-decoration: none;    /* TODO: doesn't work */
    /*
    color: #337ab7;
    cursor: auto;
    color: #777;
    height: 50px;
    margin-left: -15px;
  */
}
