/* Compensate for fixed navbar at top and bottom of page */

body {
  padding-top: 70px;
  padding-bottom: 60px;
}

/* Hide website and comment forms */

.hidden_div {
  display: none;
}

/* Attempt (failed) to make default 'Sign in' link less ugly */

.login-link-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px 15px;
  line-height: 20px;
  float: left;
  color: #9d9d9d;
  background-color: transparent;
  text-decoration: none;                /* TODO: doesn't work */

}

/* Same thing in menu */

.in .login-link-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  float: left;
  color: #9d9d9d;
  background-color: transparent;
  text-decoration: none;                /* TODO: doesn't work */
}

.login-link-text a:hover {
  color: #ffffff;                       /* TODO: doesn't work */
}

/* navbar logo - trial and error. Changes when menu drops down */

#logo {
  padding-top: 10px;
  padding-right: 10px;
  height: 45px;
}
